@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .contact-section,
  .contact-content {
    animation: fade-in 1s ease-out;
  }
  


.contact-section {
    background-color: #f8f9fa;
    padding: 40px 0;
    height: 100vh; 
  }
  
  .contact-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  